html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 80px;
}


footer {
    margin-top: auto;
}

.hero-section {
    padding: 100px 0 80px;
}

@media (min-width: 768px) {
    #about img[alt="О проекте"] {
        margin-left: 30px;
    }
}

